<div class="modal">
  <div class="w100">
    <div class="text1 fw700 info">Confirm!</div>
    <div class="status-text">
      <p>{{successMessage}}</p>
    </div>
    <div class="button-container px-15">
      <div style="padding: 10px;" class="w100">
        <ion-button id="ok-btn" fill="clear" expand="block" (click)="dismiss(false)">Cancel</ion-button>
      </div>
      <div style="padding: 10px;" class="w100">
        <ion-button id="ok-btn-clear" fill="clear" expand="block" (click)="dismiss(true)">Yes</ion-button>
      </div>
    </div>
  </div>

</div>