.modal{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.status-icon-container{
    margin: 10px auto;
}

.status-text{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #0E237E;
}

#ok-btn{
    margin: 0px;
    width: 100%;
    background-color: #0E237E !important;
    color: #fff;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
}

#ok-btn-clear{
    margin: 0px;
    width: 100%;
    background-color: #fff !important;
    color: #0E237E;
    height: 40px;
    font-size: 14px;
    border: 1px solid #0E237E;
    border-radius: 5px;
}

.button-container {
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    
}