ion-content{
    --padding-start: 10px;
    --padding-end: 10px;
}
ion-content, ion-header, ion-toolbar {
    --background: #f9f9fa;
}

.custom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 1rem;
}

.caveat{
    font-size: 12px;
    color: rgb(202, 62, 62);
}

.warning-container{
    display: flex;
    flex-direction: column;
}

.warning{
    color: #323A5D;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 30px;
    
    h5 {
        font-size: 13px;
    }
}

.form-container {
    margin-top: 10%;
    padding: 20px;
    height: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;

    #currency{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.form-instruction-container{
    h3{
        margin-bottom: 10%;
        text-align: start;
    }
}


.form-input-container {
    ion-label{
        --padding-start: 0;
    }
}

.form-button-container{
    margin-top: 5vh;

    ion-button{
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 20px;
        --padding-bottom: 20px;
    }
}
.form-button-item{
    --min-height: 100px;
}

.submit-button-container{
    margin-top: 40px;
    width: 100%;
    // padding: 10px;

    ion-button{
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    width: 100%;
    }

}