<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text">Standing Instruction</div>
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="background">
  <div class="parent">
    <div class="box text08">
      <div class="col-0">
        <div class="col-1 fw700">Narration</div>
      </div>
      <div class="col-0">
        <div class="col-1 fw700">Source Account</div>
      </div>
      <div class="col-0">
        <div class="col-1 fw700">Frequency</div>
      </div>
      <div class="col-0">
        <div class="col-1 fw700">Status</div>
      </div>
    </div>
    
    <div class="scroll">
      <div class="box-1 text08" (click)="open()">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
      
      <div class="box-1 text08">
        <div class="col-0">
          <div class="col-1">Dash Money</div>
        </div>
        <div class="col-0">
          <div class="col-1">5050160082</div>
        </div>
        <div class="col-0">
          <div class="col-1">Monthly</div>
        </div>
        <div class="col-0">
          <div class="col-1">Active</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>