ion-content{
    --padding-start: 10px;
    --padding-end: 10px;
}

ion-toolbar{
    --background: #fafafa;
}

ion-item {
    --padding-bottom: 10px;
    --padding-top: 10px;
    --background: #fafafa;
}

ion-content{
    --background: #fafafa;
}

.custom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem 1rem;
}

.header-title{
    color: #323A5D;
}

.parent {
    padding: 20px 0px;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

.arrow {
    color: #0E237E;
    font-size: 1.5em;
}