<ion-header class="ion-no-border ion-margin-top ion-padding" mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button
        class="mtt-02 no-transform"
        fill="clear"
        color="trupayprimary"
        (click)="back()"
      >
        <ion-icon slot="start" name="arrow-back" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-padding-horizontal">
    <h3 class="color-trupayprimary">About Us</h3>
  </ion-item>

  <div class="ion-padding ion-margin-horizontal">
    
    <h4 class="color-trupayprimary">History</h4>

    <p class="ion-margin-top text-justify">
      Fidelity Bank is a full-fledged commercial bank operating in Nigeria, with
      over 5 million customers who are serviced across its 250 business offices
      and various other digital banking channels.
    </p>

    <p class="ion-margin-top text-justify">
      Focused on select niche corporate banking sectors as well as Micro Small
      and Medium Enterprises (MSMEs), Fidelity Bank is rapidly implementing a
      digital based retail banking strategy which has resulted in exponential
      growth in savings deposits over the last Six (6) years, with over 40
      percent customer enrollment on the Bank’s flagship mobile/internet banking
      products.
    </p>

    <p class="ion-margin-top text-justify">
      Quoted on the Nigerian Stock Exchange (NSE), Fidelity Bank Plc began
      operations in 1988 as a Merchant Bank. In 1999, it converted to Commercial
      Banking and then became a Universal Bank in February 2001. The current
      enlarged Fidelity Bank is a result of the merger with the former FSB
      International Bank Plc and Manny Bank Plc in 2005.
    </p>

    <p class="ion-margin-top text-justify">
      Ranked amongst the top 10 in the Nigerian banking industry, Fidelity Bank
      has presence in the major cities and commercial centres in Nigeria and has
      correspondent banking relationships with a network of off-shore financial
      institutions including Citibank, ANZ London, Afrexim Bank, ABSA, Standard
      Chartered Bank, Standard Bank, US EX-IM Bank, and United States Agency for
      International Development etc.
    </p>

    <p class="ion-margin-top text-justify">
      Fidelity Bank is reputed for integrity and professionalism. It is also
      respected for the quality and stability of its Executive Management Team
      that is focused on building and maintaining a virile and widely accepted
      brand to cater to the needs of its growing retail, corporate, commercial
      and consumer banking clientele.
    </p>

    <p class="ion-margin-top text-justify">
      The Bank recently won accolades as the Best SME Friendly Bank, Best in
      Mobile Banking and the Most Improved Corporate/Investment Bank among
      several industry awards and recognitions.
    </p>

    <h4 class="color-trupayprimary ion-margin-top ion-padding-top">Our Vision</h4>
    <p>To be number one in every market we serve and for every branded
    product we offer.</p>
    
    <h4 class="color-trupayprimary ion-margin-top ion-padding-top">Our Mission</h4>
    To make financial services easy and accessible
    to our customers.
    
    <h4 class="color-trupayprimary ion-margin-top ion-padding-top">Our Core Values</h4>
    <p>C - Customer First</p>
    <p>R - Respect</p>
    <p>E - Excellence</p>
    <p>S - Shared Ambition</p>
    <p>T - Tenacity</p>
  </div>
</ion-content>
