ion-content{
    --padding-start: 10px;
    --padding-end: 10px;
}
ion-content, ion-header, ion-toolbar {
    --background: #f9f9fa;
}

ion-header ion-toolbar:first-of-type {
    padding-top: 0 !important; 
}

.custom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem;
}

.form-container {
    margin-top: 10%;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;

    #currency{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.form-instruction-container{
    h3{
        margin-bottom: 10%;
        text-align: start;
    }
}

.account-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    cursor: pointer;
    height: 60px;

    .number{
        margin: 5px;
    }
    .balance{
        margin: 5px;
        font-size: 12px;
        color: rgb(206, 204, 209);
    }
    margin-bottom: 20px;
}


.form-button-container{
    margin-top: 5vh;

    ion-button{
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 20px;
        --padding-bottom: 20px;
    }
}

.form-button-item{
    --min-height: 100px;
}


.account-item:active {
    background-color: rgb(230, 217, 252);
    border-radius: 4px;
}

.tenor-container {
    width: 100%;

    .payment-mode {
        margin-top: 10px;
    }
}

.deposit-rate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color:  #323A5D;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.10);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.proceed-button-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .mode-btn{
        width: 30%;
    }
}
