<div class="body">
<div class="header">
  <img src="../../../assets/img/menu.png" >
 <div class="name">Oluseyi</div>
 <img src="../../../assets/img/threedot.png" >
</div>

<div class="history">
 <div class="money">N50,000.00</div>
 <div class="loanbalance">LOAN BALANCE</div>
 <div class="btn">View Current Loan Details</div>
</div>

<div class="parentbox">
  <div class="childa">
    <img src="../../../assets/img/loanlogo.png" class="image">
    <div class="reqtext">Request for a Loan</div>
  </div>

  <div class="childb">
    <img src="../../../assets/img/loanlogo.png" class="image">
    <div class="reqtext">Pay Loan</div>
  </div>
</div>


<div class="parentbox">
  <div class="childa">
    <img src="../../../assets/img/loanlogo.png" class="image">
    <div class="reqtext">Extend Loan</div>
  </div>

  <div class="childb">
    <img src="../../../assets/img/loanlogo.png" class="image">
    <div class="reqtext">Recommend a Friend</div>
  </div>
</div>

<div class="loanhistory">YOUR LOAN HISTORY</div>

<div class="historydiv">
<ion-content>
  
  <div>
    <div class="row">
     <div class="loanamount">Loan amount:</div><div class="loanamountmoney">N5,000</div>
    </div> 

    <div class="rowtwo">
     <div class="loanamount">Expiry Date:</div><div class="loanamountmoney">Friday/03 April,2020</div>
     </div> 
     <div class="divider"></div>
  </div>


  <div>
    <div class="row">
     <div class="loanamount">Loan amount:</div><div class="loanamountmoney">N5,000</div>
    </div> 

    <div class="rowtwo">
     <div class="loanamount">Expiry Date:</div><div class="loanamountmoney">Friday/03 April,2020</div>
     </div> 
     <div class="divider"></div>
  </div>



  <div>
    <div class="row">
     <div class="loanamount">Loan amount:</div><div class="loanamountmoney">N5,000</div>
    </div> 

    <div class="rowtwo">
     <div class="loanamount">Expiry Date:</div><div class="loanamountmoney">Friday/03 April,2020</div>
     </div> 
     <div class="divider"></div>
  </div>

  

  
</ion-content> 
</div>

</div>