.border-bottom {
    border-bottom: 1px solid #000000;
}

.anchor {
    border: 1px solid transparent;
    border-radius: 10px;
    height: 7px;
    width: 70px;
    background-color: rgba(66, 65, 65, 0.253);
    margin: auto;
}