.page-heading {
  margin-bottom: 65px;
}

.stacked-label {
  position: absolute;
  bottom: 38px;
  left: 20px;
  background-color: #ffffff;
  padding: 2px 15px;
  color: #0E237E;
}

.item-wrapper {
  position: relative;
  border: 1px solid #0E237E;
  height: 50px;
  border-radius: 5px;
  margin-top: 60px;
}
