
<ion-content>
  <div class="header">
    <div></div>
    <!-- <img src="../../../assets/img/arrow-left.png" class="image"> -->
    <!-- <div class="name">Pay Loan</div> -->
    <div></div>
  </div>



<div>
  <div class="move">
 
  <div class="good">
   <img src="../../../assets/img/failed.png" >
  </div>
 
  </div>
 <div class="success">You are not eligible for loan top up</div>
 <div class="parent">

<div class="btn" (click)="landing()"> 
  <div class="text">Done</div> 
</div>
  </div>
</div>
</ion-content>