.header{
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15PX;
    padding-bottom: 15px;
    align-items: center;
  }
  .menu{
    font-size:1.7em;
    color: gray;
  }
  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }
  .loanstext{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size:1.1em;
    line-height: 22px;
    color: #3348A1;
   }
   .parent{
    padding-top:67px;
    margin-left: 20px;
    margin-right: 20px;
}
.border{
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
  }
  .eliamount{
    margin-top:18px;
    margin-bottom: 5px;
    font-family: Gilroy;
    font-size: 15px;
    line-height: 16px;
  }
  .elegibility{
    height: 40px;
    background-color: #e5e5e5;
    display: flex;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
  }
  .elegibilitysecond{
    background-color: #e5e5e5;
    margin-top: 20px;
    border-radius: 5px;
  }
  .secondelement{
      margin-top: 30px;
  }
  .btn{
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #0E237E;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
  }
  .select{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px; 
  }








  .body{
    padding-left: 15px;
    padding-right: 15px;
   //  padding-top: 60px;
}
  .photo{
    width: 68%;
    padding-top: 20px;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   .headerbox{
    background-color: #0E237E;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
   }
   .headerboxtext{
    font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #9C9E9B;
    padding-top: 20px;
    padding-right: 20px;
    color: #9C9E9B;
   }
   .totalloanamount{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
   }
   
  .box{
    height: 130px;
    border-radius: 5px;
    width: 48%;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
  box-shadow: 4px 6px #eeeeee;
  }
  .loanactiontitle{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    // text-align: right;
    color: #0E237E;
    padding-top: 10px;
    // padding-right: 5px;
  }
  .requesttext{
    font-family: Gilroy-Medium;
    font-size: 9px;
    // line-height: 16px;
    color: #000000;
    padding-right: 5px;
  }
  
  .interest{
    font-family: Gilroy-Medium;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
    padding-right: 5px;
    padding-top: 10px;
  }
  .amount{
    font-family: Gilroy-Medium;
    font-size: 10px;
    line-height: 12px;
    color: #9C9E9B;
    padding-top: 15px;
    padding-right: 5px;
  }
  ion-input {
    --padding-top: 10px;
    --padding-end: 0;
    --padding-bottom: 10px;
    --padding-start: 8px;
    --font-size: inherit;
    --margin-top: 41px;
    --border-radius: 5px;
    --height: 50px;
    --border: 1px solid gray;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .loanamount{
  font-family: Gilroy;
  font-size: 1.0em;
  line-height: 16px;
  text-align: center;
  color: #9C9E9B;
  }
  .form{
    margin-top: 40px;
  }
  .noLoan{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .card{
    // box-shadow: none;
      height: 100px;
      border-radius: 5px;
      border: 1px solid #AAAAAA;
      box-sizing: border-box;
      padding-left: 5px;
      display: flex;
      align-items: center;
      // margin-left: 6px;
      // margin-right: 6px;
      margin-top: 10px;
      box-sizing: border-box;
  box-shadow: 4px 6px #eeeeee;
  }
  .content{
    margin-left: 7px;
    margin-right: 7px;
  }
  