<ion-header class="text-white" mode="ios" transluscent>
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button
        class="mtt-02 no-transform"
        fill="clear"
        color="trupayprimary"
        (click)="handlers.navigate().back()"
      >
        <ion-icon slot="start" name="arrow-back" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text">Tax</div>
    </ion-title>
    <ion-buttons slot="primary"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="parent">

    <ion-item lines="none" detail="true" [routerLink]="['validateref']">
      <ion-label>Validate Reference</ion-label>
    </ion-item>
    <ion-item lines="none" detail="true" [routerLink]="['generateref']">
      <ion-label>Generate Reference</ion-label>
    </ion-item>


  </div>
</ion-content>
