<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="goBack()">
        <ion-icon slot="start" name="close" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text">Select Betting Company</div>
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container px-15 mt-20 mb-10">
    <ion-item class="ion-item-gray rounded search contacts" lines="none">
      <ion-searchbar mode="md" showCancelButton="focus" class="ion-no-padding" (ionChange)="onSearchContact($event)" detail="false"
        [(ngModel)]="searchContact" placeholder="Enter Company Name">
      </ion-searchbar>
      <ion-icon name="search" class="searchicon"></ion-icon>
    </ion-item>
  </div>

  <div class="scrollable" scrollY="true">
    <ng-container *ngIf="bettingCompanies">
      <ion-list *ngFor="let company of bettingCompanies" class="w100 pb-10 mb-10  border-bottom">
        <ion-item lines="none" class="ion-activatable ion-no-padding border-radius-10" (click)="getCompany(company, 'yes')">
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../../assets/icon/wallet/avatar3.png" class="img icon-img mr-15">
          <ion-label>
            <div>
              <h3 class="text1 text-black">{{company.billerName}}</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>

</ion-content>