<ion-content>
  <div class="border"></div>

  <div class="search">
    <ion-searchbar showCancelButton="focus" mode="md"></ion-searchbar>
    <ion-icon name="search" class="searchicon"></ion-icon>
  </div>

  <div class="parent">
    <div class="network">
      <img src="../../../assets/airtel.png" class="img">
      <img src="../../../assets/glo.png" class="img">
      <img src="../../../assets/mtn.png" class="img">
    </div>

    <div class="network">
      <img src="../../../assets/itel.png" class="img">
      <div class="nine">
        <img src="../../../assets/9inemobile.png" class="img">
      </div>
      <div></div>
      <!-- <img src="../../../assets/mtn.png"  class="img"> -->
    </div>

  </div>

</ion-content>
