ion-content {
    --background: url("../../../../../../assets/img/app_bg.png") no-repeat center center / cover !important;
    --ion-text-color: var(--ion-color-primary-contrast);
    --background-size: cover;
    --background-repeat: no-repeat;
  }
  .header{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .please{
      padding-top:40px;
      padding-left:20px;
      text-align: center;
      padding-right: 20px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size:1.0em;
  }
  .parent{

    margin-top:31px;
    height: 62px;
    background-color: #365484
  }
  .f{
    align-items: center;float: right;
  }
  .child{
      height:62px;
      background-color: #193975;
      width: 50%;
      padding-top: 10px;
      padding-left: 10px;
  }

  .childtwo{
    height:62px;
    background-color: #193975;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
}
.spread{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}
.payday{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size:1.0em;
  line-height: 17px;
  color: white;
}
.money{
  font-family: Lato;
  font-style: normal;
  font-weight:bold;
  font-size:1.0em;
  line-height: 17px;
  color: white;
  padding-top: 7px;
}
.balance{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size:0.8em;
  line-height: 17px;
  color: white;
}
.logo{
    height: 40px;
}
.logodiv{
    padding-top: 90px;
    display: flex;
    justify-content: center;
}
.day{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size:0.7em;
  line-height: 17px;
  color: white;
  padding-top: 7px;
}
.imageforward{
  float:right;
  position: relative;
  left:16px;
  bottom: 29px;
}
.top{
  padding-top: 50px;
  padding-left: 20px;
padding-right: 20px;
}


.btn{
    border: 1px solid white;
    color: white;
    height: 50px;
    margin-top:26px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.0em;
  }

  .btntwo{
    color: white;
    height: 50px;
    margin-top:26px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.0em;
  }