<ion-content no-padding fullscreen>

  <div [ngClass]="'ion-header'">
    <div [ngClass]="'header-overlay'">
      <ion-toolbar transparent  mode="ios">
        <img src="../../../assets/img/arrow-left.png"><img>
        <ion-title>Loan Offers</ion-title> 
      </ion-toolbar>
        <div [ngClass]="'offers'">
          <p>66% Complete</p>
          <ion-img src="../../../assets/img/offer.png"></ion-img>
        
          <div [ngClass]="'line'">
            <p>Loan Offers</p>
            <p>Enter Amount</p>
            <p>Confirm Loan</p>
          </div>
    
        </div>
      </div>
    </div>



  <div class="parent">
   <div class="how">How much do you need ?</div>
   <div class="row">
    <div class="max">Maximum amount</div><div class="max">(N50,000)</div>
   </div>


   <ion-item lines="full">
    <ion-label position="floating" class="label">Loan Amount</ion-label>
    <ion-input type="number" ></ion-input>
  </ion-item>

  <div class="btn">
    Proceed
  </div>
  </div>


  
    </ion-content>