<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <!-- <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back" class="arrow"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <!-- <div class="title header-text"></div> -->
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="background">
  <div class="parent">
    <div>
      <div style="height: 20vh; color: #0E237E;" class="text-primary fw700 text-center text12">Coming Soon</div>
      <div class="ion-text-center mt-10" style="height: 20vh;">
        <img src='../../../assets/img/comingsoon.svg' />
      </div>
      <div class="text-center text1 mt-20 item-v-center" style="height: 20vh;">
        <!-- <ion-icon name="arrow-back" class="pr-10"></ion-icon>
        <ion-text> Back to Home</ion-text> -->
        <ion-button class="no-transform payment-button mt-20" fill="clear" expand="block" (click)="goBack()">Back to Home</ion-button>
      </div>
    </div>
  </div>

</ion-content>