.header{
  display:flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15PX;
  padding-bottom: 15px;

}
.bar-header {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}
.menu{
  font-size:1.7em;
  color: gray;
}
.loanstext{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size:1.1em;
  line-height: 22px;
  color: #3348A1;
  display: flex;
  align-items: center;
 }
 .body{
     padding-left: 15px;
     padding-right: 15px;
     padding-top:15px;
 }
 .photo{
  width:68%;
  padding-top: 20px;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .headerbox{
  background-color: #0E237E;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
 }
 .headerboxtext{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #9C9E9B;
  padding-top:20px;
  padding-right: 20px;
  color: #9C9E9B;
 }
 .totalloanamount{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
 }
 .loanaction{
  display: flex;
  justify-content: space-between;
}
.box{
  height: 130px;
  border-radius: 5px;
  width: 48%;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
}
.loanactiontitle{
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #0E237E;
  padding-top: 15px;
  // padding-right: 5px;
}
.requesttext{
  font-family: Gilroy-Medium;
  font-size: 11px;
  line-height: 16px;
  color: #000000;

  // padding-right: 5px;
}
.amount{
  font-family: Gilroy-Medium;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  padding-top: 15px;
  padding-right: 5px;
}
ion-input {
  --padding-top: 10px;
  --padding-end: 0;
  --padding-bottom: 10px;
  --padding-start: 8px;
  --font-size: inherit;
  --margin-top: 41px;
  --border-radius: 5px;
  --height: 50px;
  --border: 1px solid gray;
  --padding-left: 10px;
  --padding-right: 10px;
}
.loanamount{
font-family: Gilroy;
font-size: 1.0em;
line-height: 16px;
text-align: center;
color: #9C9E9B;
}
.form{
  margin-top: 40px;
}
.noLoan{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.card{
  // box-shadow: none;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    padding-left: 6px;
    display: flex;
    align-items: center;
    // margin-left: 6px;
    // margin-right: 6px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 4px 6px #eeeeee;
}
.content{
  margin-left: 5px;
  margin-right: 5px;
}
