
<ion-header class="bar-header">
  <div class="header">
    <ion-icon name="arrow-back-outline" class="menu"  (click)="goBack()" ></ion-icon>
    <div class="loanstext">Loan offer</div>
    <ion-icon name="" class="menu"></ion-icon>
  </div>
</ion-header>

  
 <div class="body">
  
  <img src="../../../assets/imgs/loan/loanofferprogress1.png"  class="photo">

  <div class="headerbox" *ngIf="loanLists?.length > 0">
     <div class="headerboxtext">You qualify for a total loan of up to </div>
     <div class="totalloanamount">&#8358;{{totalEligibleAmount | number:'1.0-0'}}</div>
  </div>
</div>

<ion-content>
  <div class="content">
  <ion-grid>
    <ion-row>
    <ion-col *ngFor="let loan of loanLists; let i = index" size="4" no-padding>
    <div class="card">
      <div class="loanaction" *ngIf="loanLists?.length > 0">
      <div  (click)="doEligibiltyCheck(loan)" >
      <div class="requesttext">{{loan.loan_Category}}</div>
      <div class="loanactiontitle">&#8358;{{loan.eligible_Amount | number:'1.0-0'}}</div>
      <div class="amount">@ {{loan.interestRate}}% {{loan.rateDuration}}</div>
      </div>
      </div>
    </div>
    </ion-col>
    </ion-row>
  </ion-grid>
   
    
 




 




  <div class="noLoan" *ngIf="loanLists?.length === 0">

    <p>You currently have no loan offer.</p>

  </div>

</div>
</ion-content>