<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light">
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text"></div>
    </ion-title>
    <ion-buttons class="pr-10" slot="primary" (click)="dismiss()">
      <img src="assets/icon/cancel.svg" alt="">
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="header-bg-white">
  <!-- ----------------------- SLIDE - THREEE ------------------------- -->
  <div class="parent">
    <div class="section-header">
      <h3>Change Password</h3>
    </div>
    <form [formGroup]="passwordForm">
      <div class="input-container">
        <div class="password-major" tabindex="-1">
          <div class="password-input">
            <input formControlName="oldPassword" required [type]="passwordType">
            <label alt='Old Password' placeholder="Old Password"></label>
          </div>
          <div class="image-holder" (click)="toggleVisibility()">
              <img [class]="passwordShown === true ? 'pwd-visible' : 'pwd-hidden' " src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
          </div>
        </div>
      </div>
      <div class="pin-container">
        <div class="input-container">
          <div *ngIf="password.invalid && password.touched" class="errors">
            <small class="pw-prompt" *ngIf="password.errors?.required">Password is required</small>
            <small class="pw-prompt" *ngIf="password.errors?.minlength">Password is too short</small>
            <small class="pw-prompt" *ngIf="password.hasError('hasNumber')">Must contain a number</small>
            <small class="pw-prompt" *ngIf="password.hasError('hasCapitalCase')">Must contain uppercase
              letter</small>
            <small class="pw-prompt" *ngIf="password.hasError('hasSmallCase')">Must contain lowercase letter</small>
            <small class="pw-prompt" *ngIf="password.hasError('hasSpecialCharacters')">Must contain a special char</small>
          </div>
          <div [class.is-invalid]="password.invalid && password.touched" class="password-major" tabindex="-1">
            <div class="password-input">
              <input formControlName="password" required [type]="passwordType">
              <label [class.label-invalid]="password.invalid && password.touched" alt='New Password'
                placeholder="New Password"></label>
            </div>
            <div class="image-holder" (click)="toggleVisibility()">
              <img [class]="passwordShown === true ? 'pwd-visible' : 'pwd-hidden' "
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            </div>
          </div>
        </div>
      </div>
      <div class="pin-container">
        <div class="input-container">
          <div class="errors">
            <small class="prompt" *ngIf="passwordForm.errors?.misMatch">Passwords don't match</small>
          </div>
          <div [class.is-invalid]="passwordForm.errors?.misMatch" class="password-major" tabindex="-1">
            <div class="password-input">
              <input formControlName="confirmPassword" required [type]="passwordType">
              <label alt='Confirm Password' placeholder="Confirm Password"></label>
            </div>
            <div class="image-holder" (click)="toggleVisibility()">
              <img [class]="passwordShown === true ? 'pwd-visible' : 'pwd-hidden' "
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="submit-button-container">
      <ion-button [disabled]="!passwordForm.valid" (click)="changeAction()" class="no-transform payment-button mt-15" fill="clear" expand="block">Change Password</ion-button>
    </div>
  </div>
</ion-content>