.modal{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}


.status-icon-container{
    margin: 10px auto;
}

.status-text{
    text-align: center;
    padding: 20px;
}

#ok-btn{
    margin: auto 10px;
    --border-width: 1px;
    --border-style: solid;
    --border-color:#560BD0;
    --background: #ffffff;
    --color: #560BD0;
    width: 40%;
    --padding-bottom: 20px;
    --padding-top: 20px;
}