* {
    font-family: 'Gilroy-Medium';
    --ripple-color: transparent;
  }
  
  .ion-color-trupayprimary {
    --ion-color-base: #0E237E;
    --ion-color-base-rgb: 41, 76, 129;
    --ion-color-contrast: #d2deff;
    --ion-color-contrast-rgb: 210, 222, 255;
    --ion-color-shade: #d2deff;
    --ion-color-tint: #d2deff;
  }
  
  .arrow {
    font-size: 1.5em;
  }