* {
  font-family: "Gilroy-Medium" !important;
  --ripple-color: transparent;
}

ion-content {
  --offset-bottom: -8px !important;
}

.ion-color-trupayprimary {
  --ion-color-base: #0E237E;
  --ion-color-base-rgb: 41, 76, 129;
  --ion-color-contrast: #d2deff;
  --ion-color-contrast-rgb: 210, 222, 255;
  --ion-color-shade: #d2deff;
  --ion-color-tint: #d2deff;
}

.ion-color-trupaysecondary {
  --ion-color-base: #73002c;
  --ion-color-base-rgb: 115, 0, 44;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #650027;
  --ion-color-tint: #811a41;
}

/** fidelitygreen **/
.ion-color-fidelitygreen {
  --ion-color-base: #1aab28;
  --ion-color-base-rgb: 26, 171, 40;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade:179623;
  --ion-color-tint: #31b33e;
}

/** fidelityred **/
.ion-color-fidelityred {
  --ion-color-base: #e52836;
  --ion-color-base-rgb: 229, 40, 54;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade:2330;
  --ion-color-tint: #e83e4a;
}

ion-content {
  --padding-bottom: 16px !important;
}

.arrow {
  font-size: 1.5em;
}

.color-trupayprimary {
  color: var(--ion-color-trupayprimary);
}
