<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light">
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="background">
  <div class="parent">

    <div class="mt-30">

      <div class="text-center">
        <h4 class="pt-20 fw700">
          Payment Canceled
        </h4>
      </div>

      <div class=" item-v-center">
        <div class="my-30">
          <img class="img-close" src="../../../../assets/icon/closepng.png" />
        </div>
      </div>

      <div class="item-v-center">
        <ion-spinner name="bubbles" mode="ios" color="primary"></ion-spinner>
      </div>

      <div class="item-v-center mt-30">
        <ion-text>Please Wait</ion-text>
      </div>

    </div>
  </div>


</ion-content>