<!-- <ion-header no-border>
  <ion-toolbar mode="md">
    <ion-back-button defaultHref slot="start"></ion-back-button>
    <ion-title> Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="bar-header">
  <div class="header">
    <ion-icon name="arrow-back-outline" class="menu"  (click)="goBack()" ></ion-icon>
    <div class="tc"> Terms and Conditions</div>
    <ion-icon name="" class="menu"></ion-icon>
</div>
</ion-header>


 
<ion-content >
  <div class="terms">
  
    <p>You agree:</p>

    <p>1. To pay the loan balance on or before its expiration</p>

    <p>2. To allow Fidelity Bank access and use your transactional data to determine your loan amount</p>

    <p>3. To allow Fidelity Bank conduct and use the information obtained from Credit Bureau</p>

    <p>4. To be listed on the credit bureau in the event of default</p>

    <p>5. To domicile all salary inflow with Fidelity Bank untill all exposure is paid</p>

    <p>6. To obtain the Fidelity Bank consent where there is need to change its domiciliation to any other bank</p>

    <p>7. To immediately inform the lender of any material adverse change in his/her personal cash flow within 24 hours
      of the occurence</p>

    <p> 8. To be subjected to Fidelity Bank penal charges in the case of default</p>

    <p>9. To allow Fidelity Bank use all means legitimate to recover its loan</p>

    <p>Kindly click on link for more details  <a class="link" href="https://www.fidelitybank.ng/fastloans/">Terms and Condition </a></p>

  </div>

</ion-content>