<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light">
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text"></div>
    </ion-title>
    <ion-buttons class="pr-10" slot="primary" (click)="dismiss()">
      <img src="assets/icon/cancel.svg" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="header-bg-white">
  <div class="parent">
    <div class="section-header">
      <h3>Create your pin</h3>
    </div>
  
    <div class="slide-container">
     <ion-slides #slide pager="false" [options]="slideOpts">
  
     <!-- ----------- SLIDE ONE --------------------- -->
       <ion-slide>
         <div class="form-container">
           <div class="instruction-container">
             <h5>You do not have a transaction PIN, please set up a new one </h5>
           </div>
           <div class="pin-container">
             <p>PIN</p>
             <ng-otp-input type="number" inputmode="numeric" #ngOtpInput (onInputChange)="onOtpChange($event)"
               [config]="config"></ng-otp-input>
           </div>
           <div class="pin-container">
             <p>Confirm PIN</p>
             <ng-otp-input type="number" inputmode="numeric" #ngOtpInput2 (onInputChange)="onOtpConfirmChange($event)"
               [config]="config"></ng-otp-input>
           </div>
  
           <div class="clear-input-container">
            <ion-button class="clr-btn" shape="round" fill="outline" (click)="clearOTP()" size="small">Clear PIN</ion-button>
           </div>
  
           <div class="submit-button-container" *ngIf="!hideButton()">
             <ion-button (click)="slideToNext()" class="no-transform payment-button mt-15" fill="clear" expand="block">Set Pin</ion-button>
           </div>
  
         
         </div>
       </ion-slide>
  
      <!-- ----------- SLIDE TWO --------------------- -->
      <ion-slide>
        <div class="form-container">
            <div class="instruction-container">
                <h5>To continue, please enter your password</h5>
            </div>
          <form [formGroup]="createPinForm">
            <div class="input-container">
              <div class="password-major" tabindex="-1">
                <div class="password-input">
                  <input formControlName="password" required [type]="passwordType">
                  <label alt='Password' placeholder="Password" style="display: flex;"></label>
                </div>
                <div class="image-holder" (click)="toggleVisibility()">
                    <img class="pwd-visible" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                </div>
              </div>
            </div>
          </form>
  
          <div class="button-container pt-20">
              <button type="submit" [disabled]="!createPinForm.valid" (click)="createAction()" id="login-btn">Next</button>
          </div>
        </div>
  
        <!-- <div class="button-container">
            <button type="submit" [disabled]="!createPinForm.valid" (click)="createAction()" id="login-btn">Next</button>
        </div> -->
      </ion-slide>
  
     </ion-slides>
    </div>
  </div>
</ion-content>