<ion-content no-padding fullscreen>

  <div [ngClass]="'ion-header'">
    <div [ngClass]="'header-overlay'">
      <ion-toolbar transparent  mode="ios">
        <img src="../../../assets/img/arrow-left.png"><img>
        <ion-title>Loan Offers</ion-title> 
      </ion-toolbar>
        <div [ngClass]="'offers'">
          <p>99% Complete</p>
          <ion-img src="../../../assets/img/confirm.png"></ion-img>
        
          <div [ngClass]="'line'">
            <p>Loan Offers</p>
            <p>Enter Amount</p>
            <p>Confirm Loan</p>
          </div>
    
        </div>
      </div>
    </div>



  <div class="parent">
   <div class="how">Your personal loan offer is</div>
    <div class="max">N50,000</div>

    <div class="row">
    <div class="left">
       <div class="text">Bank</div>
       <div class="text">Account number</div>
       <div class="text">Loan amount</div>
       <div class="text">Loan term</div>
       <div class="text">Loan interest</div>
       <div class="text">Interest + Fees</div>
       <div class="text">Due Date</div>
       <div class="text">Credit check charges</div>
    </div>

    <div class="right">
       <div class="text">Fidelity Bank</div>
       <div class="text">5037361711</div>
       <div class="text">N30,0000</div>
       <div class="text">2 month</div>
       <div class="text">3.5% per month</div>
       <div class="text">N354.19</div>
       <div class="text">feb 5,2020</div>
       <div class="text">N200,00</div>
    </div>
  </div>
  

<div class="tctext">Convinience charge of N100.00 applies. Please confirm that you have read and agreed to the </div><div class="tc">Terms and Conditions</div>


  <div class="btn">
    Get the Money in the bank!
  </div>

  <div class="change">I changed my mind</div>
  </div>


  
    </ion-content>