<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text">Summary</div>
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="parent">
    <div style="height: 100%;" class="w100">
      
      <div class="item-space-between border-bottom px-20 py-10">
        <div>Total Amount</div>
        <div>N10,000</div>
      </div>
      
      <div class="item-space-between border-bottom px-20 py-10">
        <div>Narration</div>
        <div>Dash Money</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Name</div>
        <div>Emmanuel Diala</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Account Number</div>
        <div>5050165896</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Amount</div>
        <div>N5,000</div>
      </div>
      
      <div class="item-space-between border-bottom px-20 py-10">
        <div>Name</div>
        <div>Emmanuel Diala</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Account Number</div>
        <div>5050165896</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Amount</div>
        <div>N5,000</div>
      </div>

      <div class="btn-container">
        <ion-button required class="no-transform payment-button mt-20" fill="clear" expand="block">Continue</ion-button>
        <div class="mt-10 text08">
          By clicking "Continue" you have agreed to setup standing instruction.
        </div>
      </div>
    </div>
  </div>
</ion-content>
