<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button mode="md" defaultHref slot="start"></ion-back-button>
    <div class="confirmtext">Feed Back</div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="logo">
    <ion-img src="../../../../assets/imgs/loan/migofour.png"></ion-img>
  </div>

  <div class="reason" padding>
    <p>{{userInfo?.firstName}}, you rejected your loan.</p>
    <p>Please what could have been the reason?</p>
  </div>

  <div [ngClass]="'center'">

    <div class="card" *ngFor="let why of feedback; let i = index">
      <button id="myBtn" ion-button (click)="sendFeedback(why)">
        <p>{{why.reason}}</p>
      </button>
    </div>

  </div>

  <div class="changed">
    <p (click)="gotoDashBoard()">I don't have a reason</p>
  </div>

</ion-content>