.close-modal-cancel {
    position: absolute;
    right: 10px;
    top: 10px;
}

.img-height {
    height: 50px;
    margin-bottom: 20px;
}

.response-loader {
    height: 16px;
}

.text-white {
    color: #fff !important;
}

.text-primary {
    color: #0E237E !important;
}

.request {
    font-size: 18px;
}

.close-modal-cancel {
    color: #0E237E;
}