<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="dismiss()">
        <ion-icon slot="start" name="close" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text">Summary</div>
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="parent">
    <div style="height: 100%;" class="w100">
      
      <div class="item-space-between border-bottom px-20 py-10">
        <div>Source Account</div>
        <div>5050268567</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Destination Account</div>
        <div>5050167888</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Name</div>
        <div>Emmanuel Diala</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Amount</div>
        <div>5,000</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Narration</div>
        <div>Dash Money</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Start Date</div>
        <div>20/07/2020</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Frequency</div>
        <div>Daily</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Source Account</div>
        <div>5050268567</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Destination Account</div>
        <div>5050167888</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Name</div>
        <div>Emmanuel Diala</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Amount</div>
        <div>5,000</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Narration</div>
        <div>Dash Money</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Start Date</div>
        <div>20/07/2020</div>
      </div>

      <div class="item-space-between border-bottom px-20 py-10">
        <div>Frequency</div>
        <div>Daily</div>
      </div>

    </div>
  </div>
</ion-content>
