<ion-header no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref slot="start"></ion-back-button>
              </ion-buttons> 
    <ion-title>
      Disclaimer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="disclaimer">
    <p>1. This loan is offered through Fidelity Bank by our Partner.</p>

        <p>2. Your eligibility for a loan shall be determined by our Partner after a credit check is conducted.</p>
        
        <p>3. Our Partner may get in touch with you from time to time.</p>
        
       <p>4. Our Partner may adopt any form of loan recovery process deemed necessary, and we have no control over those processes.</p> 
        
       <p>5. Please, read the terms and conditions carefully before applying for a loan.</p> 
        
        <p>6. By proceeding with the loan request you hereby agree that Fidelity Bank is absolved from any form of liability, responsibility or claim relating to the loan.</p>
        
   

  </div>

</ion-content>
