<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-white">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text"></div>
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="background">
  <div class="parent">

    <div class="mt-10">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text class="title-text">Bank Verification Number</ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="mt-10">
          <div class="px-02 mt-10 text1 w100">
            <div>
              <ion-text>
                Enter your bank verification number
              </ion-text>
            </div>

            <div class="item-wrapper mb-05">
              <ion-label class="stacked-label">Bank Verification Number</ion-label>
              <ion-input class="pt-05 pl-20" inputmode="numeric" type="text" maxLength="30" minLength="10"
                placeholder="Enter BVN" (ionChange)="bvnChange()" [(ngModel)]="bvn"></ion-input>
            </div>

            <div class="item-v-center">
              <ion-spinner *ngIf="busy" name="bubbles" mode="ios" color="primary"></ion-spinner>
            </div>

            <ion-button (click)="submit()" [disabled]="busy || !bvn" class="no-transform payment-button mt-30"
              fill="clear" expand="block">
              Submit
            </ion-button>
          </div>
        </ion-row>

      </ion-grid>
    </div>
  </div>

</ion-content>