ion-content {
    --overflow: none;
    --background:  #FFFFFF;
  }
  .parent{
    margin-left: 15px;
    margin-right: 15px;
  }
  .creditcheckicon{
    height: 68%;
  }
  .check {
    text-align: center;
    
    p {
      font-family: Gilroy-Medium;
      font-style: normal;
      font-size: 18px;
      line-height: 21px;
      color: #0a2463;
      margin: 0 auto;
      padding-top: 15px;
    }
  }
  
  .pic {
    text-align: center;
    ion-img {
      margin: 0 auto;
      // width: 32vw;
      height: 10vh;
    }
  }
  
  .check, .pic{
      margin: 5px !important;
  }
  
  .note {
    text-align: center;
    padding: 11px;
    p {
      font-family: Gilroy-Medium;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #9C9E9B;
      margin: 0 auto;
    }
  }
  
  .next {
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 35px;
      button {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: #0E237E;
        color: #ffffff;
        border-radius: 5px;
        span {
          font-family: Gilroy-Medium;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  
    .reject{
      width: 100%;
      text-align: center;
      border: 1px solid #9C9E9B;
      margin-top: 15px;
      border-radius: 5px;
      margin-bottom: 10px;
      height: 50px;
        p{
          font-family: Gilroy-Medium;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #9C9E9B;
        }
    }
  .owediv{
    padding-top: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .you{
    white-space: normal;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #9C9E9B;
    margin: 0 auto;
  }
  .money{
    white-space: normal;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    color: #0E237E;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .interest{
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #9C9E9B;
    margin: 0 auto;
    padding-top: 10px;
  }