<ion-content padding class="bg-class">
  <div class="header">
    <img src="../../../assets/img/arrow-left.png" >
    <div class="name">Personal Loan history</div>
    <div></div>
  </div>

  
 <div class="body">
  <div class="details">Here's how much loan you've collected and how much you've paid back</div>
  <div class="divider"></div>
 </div>

<div class="parent">
<div class="firstrow">
   <div class="title">Loan ID</div>
   <div class="dividertwo"></div>
   <div class="loanid">**** 46798</div>
   <div class="dividertwo"></div>
 </div>
 

<div class="secondrow">
  <div class="title">Date</div>
  <div class="dividertwo"></div>
  <div class="date">22nd Jan 2019</div>
  <div class="dividertwo"></div>
</div>

<div class="thirdrow">
  <div class="title">Transaction</div>
  <div class="dividertwo"></div>
  <div class="pbtn">
  <div class="btn">credit</div>
  </div>
   <!-- <div class="credittbtn">credit</div>  -->
  <div class="dividertwo"></div>
</div>


<div class="fourthtrow">
  <div class="title">Amount</div>
  <div class="dividertwo"></div>
  <div class="amount">&#8358; 4000</div>
  <div class="dividertwo"></div>
</div>
</div>

</ion-content>