<div class="container">
  <div class="item-header">
    <h5></h5>
  </div>
  <div class="wallet-item">
    <ion-skeleton-text animated style="width: 20%; height: 30px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%; height: 30px;"></ion-skeleton-text>
  </div>
  <div class="wallet-item">
    <ion-skeleton-text animated style="width: 20%; height: 30px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%; height: 30px;"></ion-skeleton-text>
  </div>
  <div class="wallet-item">
    <ion-skeleton-text animated style="width: 20%; height: 30px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%; height: 30px;"></ion-skeleton-text>
  </div>
  <div class="wallet-item">
    <ion-skeleton-text animated style="width: 20%; height: 30px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%; height: 30px;"></ion-skeleton-text>
  </div>
  <div class="wallet-item">
    <ion-skeleton-text animated style="width: 20%; height: 30px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%; height: 30px;"></ion-skeleton-text>
  </div>
</div>