<ion-content class="mybg">
  <div class="parent">
    <div class="arc">
      <img src="../../assets/icon/lower-arc-3.svg" class="w100" alt="">
    </div>
    <div class="arc">
      <img src="../../assets/icon/upper-arc-3.svg" class="w100" alt="">
    </div>
    <div style="height: 30%;"></div>
    <div class="content-container item-v-center">
      <div class="item-v-center">
        <div>
          <img src="../../assets/icon/spiral.svg" alt="" style="height: 8vh">
        </div>
        <!-- <div class="limitless">
          <div>Limitless</div>
        </div> -->
      </div>
    </div>
    <div class="button-container">
      <div class="auth-button-container">
        <button id="login-btn" [routerLink]="['login']" routerDirection="forward">Log In</button>
        <button id="signup-btn" [routerLink]="['sign-up']" routerDirection="forward">Sign Up</button>
      </div>
    </div>
  </div>
</ion-content>
