$color-primary: #0E237E;
$color-secondary: #5BA6FF;
$color-tertiary: #7044ff;
$signupbtnbg: #F9F9FA;

.my-content{
  --background: #0E237E;
  --padding-start: 12px;
  --padding-end: 12px;
}

ion-content {
  --overflow: hidden;
  display: grid;
}

.parent {
    height: 100%;
}

.main-item {
    height: 75%;
}

.base-item {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-item-content {
    height: 100%;
    width: 100%;
}

.buttons {
    background-color: #0E237E !important;
    color: #fff;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.set-height {
    line-height: 1.5;
}


@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 0px
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px
   
    }

    100% {
        stroke-dashoffset: 960px;
      
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px 
    }

    100% {
        stroke-dashoffset: 960px
    }
}

@keyframes colored-circle { 
    0% {
        opacity:0
    }

    100% {
        opacity:100
    }
}

/* other styles */
/* .svg svg {
    display: none
}
 */
.inlinesvg .svg svg {
    display: inline
}

/* .svg img {
    display: none
} */

.icon--order-success svg polyline {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
}
.icon--order-success svg circle#colored {
    -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    animation: colored-circle 0.6s ease-in-out 0.7s backwards;
} 

.show {
    display: flex;
}

.no-show {
    display: none;
}