.custom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem;
    background-color: #F9F9FA;
    color: #323A5D;
}
ion-header ion-toolbar:first-of-type {
    padding-top: 0 !important; 
}

ion-content, ion-header {
    --background: #F9F9FA;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 80%;               
    background-color:#efeff2;
    height: 2px;
    margin-top: 5px;
    // margin-bottom: 5px;
}

.plan-item-container{
    padding: 1rem 1rem;
}

.plan-item{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 20px 10px;
    margin-top: 2px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.10);  
}

.lock-icon{
    width: 10px;
    height: 10px;
}

.plan-item-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h5 {
     color: #70758e;
     font-size: 14px;
    }
}

.savings-type-badge {
    --background: #E7EAF6;
    --padding-bottom: 5px;
    --padding-top: 5px;
    --padding-end: 10px;
    --padding-start: 10px;
    --color: #0E237E;
}

.lowOpacity{
    background-color: rgba(231,234,246,0.2);
}

.status {
  
    h3{
        margin-top: 4px;
    }
    font-family: 'poppins-bold';
    font-weight: 100;
    font-size: 12px;
    color: #323A5D;
    // color: #70758e;

    #currency{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        // font-weight: 800;
    }
}

.plan-item-amount-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .account-balance {
        color: #323A5D;
        font-family: 'poppins-bold';
        font-weight: bolder;
    }

    .target{
        color:#70758e;
        margin: 0;
        margin-bottom: 2px;
        font-weight: 100;
        font-size: 14px;
    }

    #currency{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        // font-weight: 800;
    }
}

.pia-title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin: 0;
        margin-bottom: 2px;
        font-weight: 100;
        font-size: 12px;
        color: #70758e;
    }
    .amount {
        margin: 0;
        margin-top: 1px;    
        font-weight: 100;
        font-size: 20px;
        color: #323A5D;
        font-family: 'poppins-bold';
    }

    #currency{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        // font-weight: 800;
    }
}

.progress-container{
    width: 90%;
    margin: 10px auto 0px;
    // margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
ion-progress-bar{
    --buffer-background: #e1e3eb;
    // background: #F8B739;
    --progress-background:#F8B739;
}

.action-buttons-container {
    margin-top: 15px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p{
        font-size: 13px;
        color: #323A5D;
    }
    .action-button{
        background-color: #E7EAF6;
        width: 80px;
        height: 80px;
        // text-align: center;
        display: flex;
        align-items: center;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;

        img{
            margin: auto;
        }
    }
    .action-button-inactive{
        background-color: rgba(243, 243, 243, 0.8);
        width: 80px;
        height: 80px;
        // text-align: center;
        display: flex;
        align-items: center;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;

        img{
            margin: auto;
        }
    }
}

.top-up, .leader-board, .withdraw, .tran-hist {
    position: relative;
    text-align: center;
}

.frequency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;

    .freq-amount{
        color: #41AAA8;
    }

    .monthly{
        color: rgb(165, 165, 165);
    }

    #currency{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.hightlight {
    padding: 10px 35px;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    // width: 100%;

    p{
        color: #70758e;
        font-size: 13px;
        white-space: nowrap;
    }

    h6{
        color: #323A5D;
        font-size: 18px;
    }
}

.maturity-date, .type, .intrest  {
    width: 50%;
    text-align: end;

}
.start-date, .members, .plan-status  {
    width: 50%;
    text-align: start;
}

.column-1 {
    width: 50%;
    text-align: start;
}
.column-2 {
    width: 50%;
    text-align: end;
}

.share-container{
    height: 300px;
    background: #0E237E;
}

.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

    h5{
        color: #ffffff;
    }
}

.bottom-section{
    padding: 2px 20px;
}

.clr-btn{
    --border-color: #f9f9f9;
    --border-width: 1px;
    --color: #ffffff;
}

.row-4{
    p, h6{
        color: #ffffff;
    }
}