<div class="container">
  <div class="plan-item">
    <div class="plan-item-header-section">
      <ion-skeleton-text class="animated" style="width: 30%;"></ion-skeleton-text>
      <ion-badge class="savings-type-badge">
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </ion-badge>
    </div>
    <div class="status">
      <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
    </div>
    <hr id="hr">
    <div class="plan-item-amount-section">
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </div>
    <div class="pia-title-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
    </div>
  </div>
  <div class="plan-item">
    <div class="plan-item-header-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-badge class="savings-type-badge">
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </ion-badge>
    </div>
    <div class="status">
      <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
    </div>
    <hr id="hr">
    <div class="plan-item-amount-section">
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </div>
    <div class="pia-title-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
    </div>
  </div>
  <div class="plan-item">
    <div class="plan-item-header-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-badge class="savings-type-badge">
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </ion-badge>
    </div>
    <div class="status">
      <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
    </div>
    <hr id="hr">
    <div class="plan-item-amount-section">
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </div>
    <div class="pia-title-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
    </div>
  </div>
  <div class="plan-item">
    <div class="plan-item-header-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-badge class="savings-type-badge">
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </ion-badge>
    </div>
    <div class="status">
      <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
    </div>
    <hr id="hr">
    <div class="plan-item-amount-section">
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </div>
    <div class="pia-title-section">
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
    </div>
  </div>

</div>