<ion-header class="text-white" mode="ios">
  <ion-toolbar class="h6 pl-05 pt-30 header-bg-primary">
    <ion-buttons slot="start">
      <ion-button class="mtt-02 no-transform" fill="clear" color="light" (click)="dismiss()">
        <img src="assets/icon/orion_arrow-left.svg" alt="">
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white no-padding">
      <div class="title header-text"></div>
    </ion-title>
    <ion-buttons class="pr-10" slot="primary">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="header-bg-primary">
  <div class="parent-t">
    <div class="section-header">
      <h3>Password Reset</h3>
    </div>
  
    <ion-slides #slide pager="false" [options]="slideOpts" *ngIf="didInit">
      <!-- ------------------- SLIDE 0 ------------------  -->
      <!-- <ion-slide>
        <div class="slide-container">
          <div class="page-instruction" style="display: flex;">
            <p>Enter Phone Number</p>
          </div>
    
          <form [formGroup]="phoneForm">
            <div class="input-container">
              <div class="identity-input form-group">
                <input formControlName="phone" required type="tel">
                <label alt='Phone Number' placeholder="Phone Number" style="display: flex;"></label>
              </div>
            </div>
           </form>
    
           <div class="button-container">
            <ion-button [disabled]="!phoneForm.valid" (click)="slideToNext()" class="no-transform payment-button mt-15" fill="clear" expand="block">NEXT</ion-button>
          </div>
        </div>
  
      </ion-slide> -->
  
  
       <!-- ------------------- SLIDE 1 ------------------  -->
       <ion-slide>
        <div class="slide-container">
          <!-- <div class="page-instruction" style="display: flex;">
            <p>Enter Email Address</p>
          </div> -->
  
          <form [formGroup]="phoneForm">
            <div class="input-container">
              <div class="identity-input form-group">
                <input formControlName="phone" required type="tel">
                <label alt='Phone Number' placeholder="Phone Number" style="display: flex;"></label>
              </div>
            </div>
            </form>
    
           <form [formGroup]="emailForm">
            <div class="input-container">
              <div class="identity-input form-group">
                <input formControlName="email" required type="text">
                <label alt='Email Address' placeholder="Email Address" style="display: flex;"></label>
              </div>
            </div>
           </form>
        
          <div class="button-container">
            <ion-button (click)="resetPassword()" class="no-transform payment-button mt-15" fill="clear" expand="block">RESET</ion-button>
            <!-- <ion-button expand="block" (click)="slideToNext()">
              RESET
            </ion-button> -->
          </div>
        </div>
       </ion-slide>
  
      <!-- ------------------- SLIDE 2 ------------------  -->
  
       <ion-slide>
        <div class="form-container">
          <div class="instruction-container">
            <h5>Enter the otp sent to {{emailAddress}} </h5>
          </div>
          <div class="pin-container">
            <ng-otp-input type="number" inputmode="numeric" #ngOtpInput (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
          </div>
        
          <div class="button-container mt-30" *ngIf="this.displayForm === true">
            <ion-button (click)="slideToNext()" class="no-transform payment-button mt-15" fill="clear" expand="block">Confirm</ion-button>
          </div>
        </div>
       </ion-slide>
  
       <!-- ----------------------- SLIDE - THREEE ------------------------- -->
      <ion-slide>
        <div class="form-container">
         <form [formGroup]="passwordForm"> 
           <div class="instruction-container" style="display: flex;">
             <h5>Enter your new Password </h5>
           </div>
           <div class="pin-container">
             <div class="input-container">
               <div *ngIf="password.invalid && password.touched" class="errors">
                 <small class="pw-prompt" *ngIf="password.errors?.required">Password is required</small>
                 <small class="pw-prompt" *ngIf="password.errors?.minlength">Password is too short</small>
                 <small class="pw-prompt" *ngIf="password.hasError('hasNumber')">Must contain a number</small>
                 <small class="pw-prompt" *ngIf="password.hasError('hasCapitalCase')">Must contain uppercase
                   letter</small>
                 <small class="pw-prompt" *ngIf="password.hasError('hasSmallCase')">Must contain lowercase letter</small>
                 <small class="pw-prompt" *ngIf="password.hasError('hasSpecialCharacters')">Must contain a special char</small>
               </div>
               <div [class.is-invalid]="password.invalid && password.touched" class="password-major" tabindex="-1">
                 <div class="password-input">
                   <input formControlName="password" required [type]="passwordType" style="border: none;">
                   <label [class.label-invalid]="password.invalid && password.touched" alt='Password'
                     placeholder="Password" style="display: flex;"></label>
                 </div>
                 <div class="image-holder" (click)="toggleVisibility()">
                   <img [class]="passwordShown === true ? 'pwd-visible' : 'pwd-hidden' "
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                 </div>
               </div>
             </div>
           </div>
           <div class="pin-container">
             <div class="input-container">
               <div class="errors">
                 <small class="prompt" *ngIf="passwordForm.errors?.misMatch">Passwords don't match</small>
               </div>
               <div [class.is-invalid]="passwordForm.errors?.misMatch" class="password-major" tabindex="-1">
                 <div class="password-input">
                   <input formControlName="confirmPassword" required [type]="passwordType" style="border: none;">
                   <label alt='Confirm Password' placeholder="Confirm Password" style="display: flex;"></label>
                 </div>
                 <div class="image-holder" (click)="toggleVisibility()">
                   <img [class]="passwordShown === true ? 'pwd-visible' : 'pwd-hidden' "
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                 </div>
               </div>
             </div>
           </div>
         </form>
  
          <div class="submit-button-container">
            <ion-button [disabled]="!passwordForm.valid" (click)="resetAction()" class="no-transform payment-button mt-15" fill="clear" expand="block">Set Password</ion-button>
          </div>
          </div>
      </ion-slide>
  
       <!-- ----------------------- SLIDE - FOUR ------------------------- -->
    </ion-slides>
  </div>
</ion-content>
