ion-content {
    --overflow: hidden;
    display: grid;
    --background: #fafafa;
}

.arrow {
    color: #0E237E;
    font-size: 1.5em;
}

.scrollable {
    overflow: auto;
    padding: 20px 20px 130px 20px;
    height: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

.banner {
    // margin-top: 10px;
    width: 100%;
    background-color: #0E237E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    padding: 20px 48px;

}

.banner-white {
    margin-top: 24px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: -webkit-box;
    display: flex;
    padding: 10px 5px;
    color: #0E237E;
}

.frame1 {
    background: rgba(41, 76, 129, 0.2);
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.frame2 {
    background: rgba(0, 141, 45, 0.2);
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.frame3 {
    background: rgba(62, 96, 247, 0.2);
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.frame4 {
    background: rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.wallet-bal {
    margin-left: 52px;
    color: #fff;
}

.wallet {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.text-black {
    color: #000;
}

.shift-right {
    display: flex;
    justify-content: flex-end;
}

.search-container {
    display: flex;
    justify-content: flex-end;
}

.search {
    --padding-start: none;
    --inner-padding-end: none;
    --background: #fff;
    border-bottom: 2px solid #555;
    width: 100%;
}

.searchicon {
    font-size: 1.3em;
    color: #c3c5c2;
    position: relative;
    right: 10px;
    background: #fff;
}

ion-item {
    --inner-padding-end: none;
}

.icon-img {
    height: 40px;
    width: 40px;
    border-radius: 50%!important;
}