
<ion-content>
  <div class="header">

  
    <ion-icon name="arrow-back-outline" class="menu"  (click)="goBack()" ></ion-icon>
 
    <!-- <div class="name">Pay Loan</div> -->
    <div></div>
  </div>

  <!-- <div class="payloantext">Pay Loan</div> -->
  <div class="please">Choose a convinient channel to pay your loan</div>
  
  <div class="parent">
   <!-- <div class="btn"> 
      <div class="text">Pay with Card</div> 
   </div> -->

   <div class="btn"  (click)="paywithfidelity()"> 
    <div class="text">Pay with Fidelity Bank</div> 
 </div>

 <!-- <div class="btn"> 
  <div class="text">Pay with ATM</div> 
</div>

<div class="btn"> 
  <div class="text">Pay by Bank Transfer</div> 
</div> -->
  </div>
  
  
 

</ion-content>
