ion-content {
    height: 100%;
  }
  
.headerrow{
 display: flex;
 padding-left: 20px;
 align-items: center;
}
.feedback{
  font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 17px;
      text-align: center;
      color: #e5e5e5;

}
.backicon{
  color: white;
  font-size: 1.5em;
}

  ion-header {
    background: linear-gradient(180deg, #247BA0 0%, #0A2463 100%);
    align-items: center;
    display: flex;
    ion-title {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #e5e5e5;
    }
    ion-back-button{
      --color: #FFFFFF;
    }
    height: 55px;
  }
  
  
  ion-menu-button {
    color: white;
  }
  
  ion-title {
    color: white;
  }

  .provide {
    margin-top: 30px;
    text-align: center;
    p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
      color: #103870;
    }
  }

  form {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
    ion-label{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color:#103870;
    }

      
    ion-item ion-input {
      --color: #000000;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
    }
  }



  .next {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
      width: 286px;
      height: 50px;
      border: 1px solid #103870;;
      box-sizing: border-box;
      border-radius: 2px;
      background-color: transparent !important;
      color: #103870;
      span {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }